.dot {
  height: 600px;
  width: 600px;
  background-color: red;
  border-radius: 50%;
  z-index: -1;
  position: fixed;
  top: -150px;
  right: -150px;
}
.column {
  float: left;
  width: 45%;
  padding: 20px;
  text-indent: 10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}